* {
    margin: 0%;
    box-sizing: border-box;
    font-family: "sans serif"
}

:root {
}

body {
    background-color: #E9F1F7;
    margin: 0;
}

h1 {
    font-size: 30px;
    font-weight: 900;
    font-family: "sans serif";
    padding: 10px;
    color: #66fcf1;
    align-items: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background-color: #0b0C10;
    padding: 30px 0px;
    justify-content: space-between;
}

nav ul {
    text-align: center;
}

nav ul li {
    position: relative;
    top: 13px;
    right: 10px;
    display: inline;
    font-size: 21px;
    padding: 30px;
}

nav ul li a {
    color: #66fcf1;
    text-decoration: none;
}

h2 {
    font-size: 50px;
    color: #131B23;
    font-weight: 900;
}

.section-about-me::before {
    border-bottom: 2px solid #1f2833;
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    left: 0;
    width:10%;
}

#babyme {
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    border-radius: 100%;
}

.section {
    border: 100px solid #1f2833;
    padding: 10px 15px;
}

.intro {
    /* line-height: 10px; */
    padding: 20px 0px;
    font-size: 17px;
    /* padding-left: 5px; */
}

.interests {
    font-size: 30px;
    font-weight: 900;
}

footer {
    position: relative;
    padding: 15px;
    text-align: center;
    background-color: #0b0C10;
    color:#66fcf1;
}

/* 0b0C10 - Black
1f2833 - Dark Grey
c5c6c7 - Light Grey
66fcf1 - Light Blue
45a29e -Darker blue */