* {
    margin: 0%;
    box-sizing: border-box;
    font-family: "sans serif";
    color: var(--black)
}

:root {
    --offwhite: #E9F1F7;
    --lightblue: #66fcf1;
    --black: #0b0C10;
    --darkgrey: #1f2833
}

body {
    background-color: var(--offwhite);
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 2;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--black);
    padding: 30px 0px;
    justify-content: space-between;
}

h1 {
    font-size: 30px;
    font-weight: 900;
    font-family: "sans serif";
    padding: 10px;
    color: var(--lightblue);
    align-items: center;
}

nav ul {
    text-align: center;
}

nav ul li {
    position: relative;
    top: 13px;
    right: 10px;
    display: inline;
    font-size: 21px;
    padding: 30px;
}

nav ul li a {
    color: var(--lightblue);
    text-decoration: none;
}

.section {
    border: 100px solid var(--darkgrey);
    padding: 55px 15px;
}

#me {
    width: auto;
    height: auto;
    max-width: 170px;
    max-height: 170px;
    border-radius: 100%;
    /* position: relative;
    left: 500px */
}

h2 {
    font-size: 50px;
    color: #131B23;
    font-weight: 900;
    margin: 10px;
    position: relative;
    z-index: 1;
}

.section-about-me::before {
    border-bottom: 4px solid var(--black);
    content: '';
    position: absolute;
    bottom: -2px;
    height: 1px;
    left: 0;
    width: 13%;
}

.intro {
    line-height: 25px;
    padding: 10px 0px;
    font-size: 17px;
    margin: 10px;
    /* padding-left: 5px; */
}

.interests {
    font-size: 30px;
    font-weight: 900;
    position: relative;
    z-index: 1;
    padding: 18px 0px 10px 0px;
    margin: 10px;
}

.interests::before {
    border-bottom: 3px solid var(--black);
    content: '';
    position: absolute;
    bottom: 9px;
    height: 1px;
    left: 0;
    width: 6.7%;
}

section ul li{
    padding: 5px;
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 10px;
}

.project {
    grid-column: 1/-1;
    padding: 0px 0px 66px 0px;
    position: relative;
    left: 10px;
}

.project:before {
    border-bottom: 4px solid var(--black);
    content: '';
    position: absolute;
    bottom: 57px;
    height: 1px;
    left: 1px;
    width: 10.5%;
}

#my-work {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(334px,1fr));
}

section section h3 {
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 10px 0;
}

section section p {
    padding: 0 134px 0 0;
}

.projectpicture {
    position: relative;
    top: 0px;
    left: 0px;
}

.picture {
    width: 200px;
    height: 200px;
}

.contactinfo {
    position: relative;
    top: -30px;
}

.contactinfo:before {
    border-bottom: 4px solid var(--black);
    position: absolute;
    bottom: -3px;
    height: 1px;
    left: 4px;
    width: 16.1%;
}

.phonenum {
    font-size: 20px;
    position: relative;
    left: 16px;
    top: -108px;
}

section a {
    position: relative;
    bottom: -30px;
    left: -110px;
}

a:hover:active {
    color: yellow;
}

footer {
    position: relative;
    padding: 15px;
    text-align: center;
    background-color: var(--black);
    color: var(--lightblue);
}

@media screen and (max-width: 895px) {

    body {
        width: 230%;
    }

    h1 {
        width: 80%;
    }

    #contact-info {
        width: 101%
    }
}